<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create A New Message</title>
</head>
<body>
    <h1>Submit A New Message</h1>
    <form action="/new" method="post">
        <fieldset>
            <label for="msgText">Message</label>
            <input type="text" id="msgText" name="msgText">
        </fieldset>
        <fieldset>
            <label for="user">Name</label>
            <input type="text" id="user" name="user">
        </fieldset>
        <button type="submit">Submit</button>
    </form>
</body>
</html>